.Jumbotron {
    background-image: url("./img/jumbo.jpg");
    /* Set a specific height */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Mask {
  background-color: rgba(164, 93, 179, 0.904);
  display: table;
}